@model Ordenes.ViewModels.OrdenesViewModel

<div class="modal fade" id="createOrden">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="createOrdenLabel">Crear Orden </h4>
                 <button type="button" class="close" data-dismiss="modal" >
                     <span>X</span>
                 </button>
            </div>

            <div class="modal-body">
                <form asp-action="Create">
                    <div class="form-group">

                        <div class="row">

                            <div class="col-lg-4">

                               
                                @Html.LabelFor(model => model.Categoria, htmlAttributes: new { @class = "control-label" })
                                <div class="input-group custom-search-form">
                                    @Html.DropDownListFor(model => model.Categoria,

                                              Enumerable.Empty<SelectListItem>()
                                              , " -Seleccione- ", new { @class = "form-control chosen-select", @required = "true" })




                                </div>
                                @Html.ValidationMessageFor(model => model.Categoria, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-lg-4">
                                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                                <div class="input-group custom-search-form">
                                    @Html.DropDownListFor(model => model.Nombre,

                                              Enumerable.Empty<SelectListItem>()
                                              , " -Seleccione- ", new { @class = "form-control chosen-select", @required = "true" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                        <label asp-for="Stock"> </label>
                        <input type="number" asp-for="Stock" class="form-control" />
                        <span asp-validation-for="Stock" class="text-danger"></span>
                    </div>

                    @*@Html.DropDownListFor(x => x.Nombre);*@
                


                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"> Cerrar</button>
                <button type="button" class="btn btn-success" data-save="modal"> Guardar</button>

            </div>
        </div>

    </div>

</div>